<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [208,176]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>Civil Air Patrol Washington Wing<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="5" data-sizey="1">
  <div data-id="image" data-view="Image" data-title="McChord Banner" data-image="/mcchord_cp_banner.jpg"></div>
</li>
  <li data-row="1 " data-col="5" data-sizex="1" data-sizey="1">
  <div data-view="Clock"></div>
  <i class="far fa-clock icon-background"></i>
</li>
<li data-row="2" data-col="1" data-sizex="6" data-sizey="3">
<div data-id="radar" data-view="Iframe" data-url="https://radar.weather.gov/?settings=v1_eyJhZ2VuZGEiOnsiaWQiOiJ3ZWF0aGVyIiwiY2VudGVyIjpbLTEyMi41NzQsNDcuMTA4XSwibG9jYXRpb24iOlstMTIyLjU3Nyw0Ny4xMDhdLCJ6b29tIjo3fSwiYW5pbWF0aW5nIjpmYWxzZSwiYmFzZSI6InN0YW5kYXJkIiwiYXJ0Y2MiOmZhbHNlLCJjb3VudHkiOmZhbHNlLCJjd2EiOmZhbHNlLCJyZmMiOmZhbHNlLCJzdGF0ZSI6ZmFsc2UsIm1lbnUiOnRydWUsInNob3J0RnVzZWRPbmx5IjpmYWxzZSwib3BhY2l0eSI6eyJhbGVydHMiOjAuOCwibG9jYWwiOjAuNiwibG9jYWxTdGF0aW9ucyI6MC44LCJuYXRpb25hbCI6MC42fX0%3D"></div>
</li>

</ul>
</div>
