<script type='text/javascript'>
 $(function() {
<<<<<<< HEAD
   Dashing.widget_base_dimensions = [208, 176]
=======
   Dashing.widget_base_dimensions = [254, 213]
>>>>>>> refs/remotes/origin/main
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>McChord Composite Squadron<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
  <div data-id="image" data-view="Image" data-title="map" data-image="/hq_back_map.jpg"></div>
</li>
</ul>
</div>


