<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [318, 267]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>MCS SAGA<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="Clock"></div>
  <i class="far fa-clock icon-background"></i>
</li>
<li data-row="1" data-col="2" data-sizex="5" data-sizey="1">
  <div data-id="image" data-view="Image" data-title="MCS" data-image="/mcchordbigbanner.jpg"></div>
</li>
<li data-row="4" data-col="1" data-sizex="6" data-sizey="3">
<div data-id="iframeId1" data-view="Iframe" data-url="https://eyes.nasa.gov/apps/earth/#/"></div>
</li>
</ul>
</div>

