<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [264, 224]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>Upcoming Notes<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
  <div data-id="image" data-view="Image" data-title="map" data-image="/nextmeeting_16may.jpg"></div>
</li>
</ul>
</div>
