<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [200, 245]
   Dashing.numColumns = 5
   });
 </script>
 </script>
<% content_for :title do %>Welcome to Wing Headquarters<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="5" data-sizey="3">
  <div data-id="image" data-view="Image" data-title="map" data-image="/JAWEkitchen.jpg"></div>
</li>
</ul>
</div>
