<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [220, 185]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>Welcome to Wing Headquarters<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="6" data-sizey="4">
  <div data-id="image" data-view="Image" data-title="map" data-image="/cacadefalcon.jpg"></div>
</li>
</ul>
</div>
