<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [318, 267]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>MCS SAGA<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
  <div data-id="image" data-view="Image" data-title="McChord Banner" data-image="/mcchord_banner.jpg"></div>
</li>
  <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
  <div data-view="Clock"></div>
  <i class="far fa-clock icon-background"></i>
</li>
<li data-row="3" data-col="6" data-sizex="1" data-sizey="2">
<div data-id="iframeId2" data-view="Iframe" data-url="https://widget.airnow.gov/aq-dial-widget/?latitude=47.1234539&longitude=-122.4826255"></div>
</li>
<li data-row="2" data-col="1" data-sizex="3" data-sizey="3">
<div data-id="iframeId1" data-view="Iframe" data-url="https://docs.google.com/forms/d/e/1FAIpQLSeYqVFX-m9nSWIdqNxAT6JNSphE24XVSB9ERQrT0l9sRuyUAw/viewform?usp=sf_link"></div>
</li>
<li data-row="2" data-col="4" data-sizex="2" data-sizey="3">
<div data-id="iframeId3" data-view="Iframe" data-url="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%234285F4&ctz=America%2FLos_Angeles&showTitle=0&showNav=1&mode=AGENDA&src=d2F3Zy5jYXAuZ292X3V0b2c5MmIxMXZqMDFxcTFmczdoMmZqb2xzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&src=d2F3Zy5jYXAuZ292XzJxbzI4bDU5aW5lcDhoaDZlYTBidWIzMzhjQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%234285F4&color=%239E69AF"></div>
</li>

</ul>
</div>
