<script type='text/javascript'>
 $(function() {
   Dashing.widget_base_dimensions = [318, 267]
   Dashing.numColumns = 6
   });
 </script>
 </script>
<% content_for :title do %>MCS SAGA<% end %>
<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="Clock"></div>
  <i class="far fa-clock icon-background"></i>
</li>
<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
<div data-id="sss-GOCAP" data-view="ServerStatusSquares" data-title="gocivilairpatrol.com"></div>
</li>
<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-NHQ" data-view="ServerStatusSquares" data-title="NHQ E-Services"></div>
</li>
<li data-row="3" data-col="1" data-sizex="3" data-sizey="2">
<div data-id="iframeId1" data-view="Iframe" data-src="https://www.youtube.com/embed/videoseries?controls=0&amp;list=PLt7bK-1WAWj-IaGAlI74_GGNpdNCcdlhA"></div>
</li>
<li data-row="4" data-col="1" data-sizex="3" data-sizey="4">
<div data-id="iframeId2" data-view="Iframe" data-src="https://embed.flightaware.com/commercial/integrated/web/delay_map_fullpage.rvt"></div>
</li>
<li data-row="4" data-col="1" data-sizex="3" data-sizey="1">
  <div data-id="news" data-view="News"></div>
</li>
</div>
