.widget-airnow {

  h1 {
        font-size: 50px;
  }
  h2 {
        font-size: 100px;
  }
  h3 {
        font-size: 50px;
  }
  h4 {
        font-size: 20px;
  }
  p.updated-at {
       font-size: 20px;
 }
}
